<div id="player-root" data-source="{{ fileUrl }}"></div>

<link rel="stylesheet" href="/stylesheets/vector-screencast.css">
<script src="/javascripts/common.js"></script>
<script src="/javascripts/player.js"></script>